*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register{
    width: 500px;
    background-color: #ee8b67;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
}

.form-register h4{
    font-size: 35px;
    margin-bottom: 20px;
    background-color: #58FAD0;
}

.form-register h2{
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.controls{
    width: 100%;
    background-color: #F5F6CE;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.buttons{
    width: 10;
    background-color: rgba(16, 107, 192, 0.253);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}


.form-register2{
    width: 80%;
    background-color: #81F79F;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
}

.controls2{
    width: 100%;
    background-color: #F5F6CE;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}